@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Heebo|Ubuntu:700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
	:root {
    --server-hover: #f1f1f1;
    --mainBackground: #f1f1f1;
    --font1: 'Heebo', sans-serif;
    --font2: 'Ubuntu', sans-serif;
    --font3: 'Poppins', sans-serif;
    --font4: Montserrat, sans-serif;
    --defaultColor: rgb(192, 204, 209);
    --font5: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
    --scrollbar: #f1f1f1;
--scrollbar-thumb: #b0b0b0;
--scrollbar-hover: #b0b0b0;
--scrollbar-active: #b0b0b0;
}

* {
    scrollbar-color: #f1f1f1 transparent;
scrollbar-width: thin;

}
::-webkit-scrollbar {
width: 16px;
background-color: var(--scrollbar);
cursor: pointer;
}

::-webkit-scrollbar-thumb {
background-color: var(--scrollbar-thumb);
height: 16px;
background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
background-color: var(--scrollbar-hover);
}

::-webkit-scrollbar-thumb:active {
background-color: var(--scrollbar-active);
}
    html {
        height: 100%;
        width: 100%;
        background-image: url(/static/img/background.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment:fixed;
        overflow-x: hidden;

    }
		body {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .box {
        padding: 24px;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        width: 37em;
        margin: 0 auto;
        margin-top: calc(1vh / 0.1);
        font-family: Minecraftia;
    }
    .title {
    	font-family: Minecraftia;
    }
    #navbar a.user {
  background-color: red;
  color: white;
}

    .lastTxt {
      font-family: Minecraftia;
    }